{% extends "layout.html" %}
{% block content %}

      <div class="main-content">
        <h2 class="iq-fw-8 mb-2 title text-center text-info">An Initiative For...</h2>
        <section class="iq-solutions pt-0">
          <div class="container">
            <div class="row flex-row-reverse">
              <div class="col-lg-6 align-self-center wow fadeInRight">
                <p class="mb-3">The COVID-19 pandemic marks one of the greatest global challenges experienced this century.</p> 
                <p class="mb-3">Digital Health solutions have already been used in many ways from tracking and tracing for analysis of computerized diagnosis and early symptom recognition. However, there are many technologies that remain unexploited with vast potential in improving the reliability, usability and explainability of healthcare services. Further, there is a need for new regulatory pathways for these new technologies into practice.</p>
              </div>
              <div class="col-lg-6">
                <img src="{{ url_for('static', filename='team/aboutblog1.jpg')}}" class="img-fluid wow fadeInLeft" alt="">
              </div>

              <div class="col-lg-6">
                <img src="{{ url_for('static', filename='team/aboutblog.jpg')}}" class="img-fluid wow fadeInRight" alt="">
              </div>
              <div class="col-lg-6 align-self-center wow fadeInLeft">
                <p class="mb-3">Many opportunities for the development and application of health technologies and digital health exist in the global fight against Coronavirus that concerns all of us.</p>  
                <p class="mb-3">The future of public health is likely to become increasingly digital, and we review the need for the alignment of international strategies for the regulation, evaluation and use of digital technologies to strengthen pandemic management, and future preparedness for COVID-19 and other infectious diseases.</p> 

              </div>
              
            </div>
          </div>
        </section>
        <!-- Choose From END -->
        <!-- Team section -->
        <section class="iq-aboutteam bg-info position-relative">
          <div class="container">
            <div class="row">
              <div class="col-sm-12 text-center">
                <div class="section-title">
                  <h2 class="title  text-white iq-fw-8">Meet the team....</h2>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3 col-md-6">
                <div class="team-box mb-4">
                  <div class="team-img text-center">
                    <img src="{{ url_for('static', filename='team/01.jpg')}}" class="img-fluid rounded-circle" alt="image">
                  </div>
                  <div class="team-detail">
                    <a class="team-plus" href="#"><i class="fas fa-plus"></i></a>
                    <div class="team-info">
                      <h6 class="mb-0 text-white ">Arpit Somani</h6>
                      <span class="mb-0 text-white text-gray iq-fw-4">Developer</span>
                    </div>
                  </div>
                  <div class="team-hover">
                    <p>About Arpit</p>
                    <ul class="list-inline">
                      <li class="list-inline-item" ><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                      <li class="list-inline-item" ><a href="#"><i class="fab fa-twitter"></i></a></li>
                      <li class="list-inline-item" ><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                      <li class="list-inline-item" ><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="team-box mb-4">
                  <div class="team-img text-center">
                    <img src="{{ url_for('static', filename='team/03.jpg')}}" class="img-fluid rounded-circle" alt="image">
                  </div>
                  <div class="team-detail">
                    <a class="team-plus" href="#"><i class="fas fa-plus"></i></a>
                    <div class="team-info">
                      <h6 class="mb-0 text-white">Anubhav Tiwari</h6>
                      <span class="mb-0 text-white text-gray iq-fw-4">Developer</span>
                    </div>
                  </div>
                  <div class="team-hover">
                    <p>About Anubhav</p>
                    <ul class="list-inline">
                      <li class="list-inline-item" ><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                      <li class="list-inline-item" ><a href="#"><i class="fab fa-twitter"></i></a></li>
                      <li class="list-inline-item" ><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                      <li class="list-inline-item" ><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="team-box mb-4">
                  <div class="team-img text-center">
                    <img src="{{ url_for('static', filename='team/02.jpg')}}" class="img-fluid rounded-circle" alt="image">
                  </div>
                  <div class="team-detail">
                    <a class="team-plus" href="#"><i class="fas fa-plus"></i></a>
                    <div class="team-info">
                      <h6 class="mb-0 text-white">Ayushi Agarwal</h6>
                      <span class="mb-0 text-white text-gray iq-fw-4">Developer</span>
                    </div>
                  </div>
                  <div class="team-hover">
                    <p>About Ayushi.</p>
                    <ul class="list-inline">
                      <li class="list-inline-item" ><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                      <li class="list-inline-item" ><a href="#"><i class="fab fa-twitter"></i></a></li>
                      <li class="list-inline-item" ><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                      <li class="list-inline-item" ><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="team-box mb-4">
                  <div class="team-img text-center">
                    <img src="{{ url_for('static', filename='team/04.jpg')}}" class="img-fluid rounded-circle" alt="image">
                  </div>
                  <div class="team-detail">
                    <a class="team-plus" href="#"><i class="fas fa-plus"></i></a>
                    <div class="team-info">
                      <h6 class="mb-0 text-white">Puneet Prakash</h6>
                      <span class="mb-0 text-white text-gray iq-fw-4">Designer</span>
                    </div>
                  </div>
                  <div class="team-hover">
                    <p>About Puneet.</p>
                    <ul class="list-inline">
                      <li class="list-inline-item" ><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                      <li class="list-inline-item" ><a href="#"><i class="fab fa-twitter"></i></a></li>
                      <li class="list-inline-item" ><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                      <li class="list-inline-item" ><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        
        <!-- Our Guides -->
        <section class="iq-blogs position-relative pt-0">
          <div class="container">
            <div class="col-sm-12 text-center">
              <div class="section-title">
                <h2 class="title text-info iq-fw-8">We Are Thankful For....</h2>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="owl-carousel" data-loop="true" data-nav="false" data-dots="false" data-items="3" data-items-laptop="3" data-items-tab="2" data-items-mobile="1" data-items-mobile-sm="1">
                  <div class="item">
                    <div class="main-blog">
                      <div class="team-img">
                        <img src="{{ url_for('static', filename='team/logo.png')}}" class="img-fluid" alt="image">
                      </div>
                      <div class="blog-detail">
                        <h5 class="mt-1 iq-fw-8">Mr. R.K. Banyal</h5>
                        <p class="text-info iq-fw-8">Project Supervisor, Head of Department, Deptt. of Computer Science, RTU Kota</p>
                        <p class="mb-0">Words from rk banyal.</p>
                        
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="main-blog">
                      <div class="team-img">
                        <img src="{{ url_for('static', filename='team/logo.png')}}" class="img-fluid" alt="image">
                      </div>
                      <div class="blog-detail">
                        <h5 class="mt-1 iq-fw-8">Mr. Narendra S Patel</h5>
                        <p class="text-info iq-fw-8">Project Coordinator, Asst. Prof., Deptt. of Computer Science, RTU Kota</p>
                        <p class="mb-0">Words from nsp.</p>                       
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="main-blog">
                      <div class="team-img">
                        <img src="{{ url_for('static', filename='team/logo.png')}}" class="img-fluid" alt="image">
                      </div>
                      <div class="blog-detail">
                        <h5 class="mt-1 iq-fw-8">Mr. Dhirender Singh</h5>
                        <p class="text-info iq-fw-8">Project Supervisor, Asst. Prof., Deptt. of Computer Science, RTU Kota</p>       
                        <p class="mb-0">Words from dhirender singh.</p>
                      </div>
                    </div>
                  </div>
                
                </div>
              </div>
            </div>
          </div>

        </section>

      </div>
     
{% endblock content %}